<%= render 'users/list', book: @book, user: @user %>

<h2>Books</h2>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
    <tr>
    <% @books.each do |book| %>
      <td>
        <%= link_to user_path(book.user_id) do %>
         <%= image_tag book.user.get_profile_image(100,100) %>
        <% end %>
      </td>
      <td>
        <%= link_to book_path(book.id) do %>
        <%= book.title %>
        <% end %>
      </td>
      <td><%= book.body %></td>
    <% end %>
    </tr>
  </thead>
</table>
